doctype html
html(lang="en").light
    include includes/_head
    include includes/_body
        .container-fluid
            i#moving_scissors.fa-solid.fa-scissors.position-absolute.fs-1
            .container(hidden) 
                include includes/components/_settings
            .container 
                .row
                    .setting__btn_wrapper 
                        button#game__setting_button.fs-2.bg-transparent.border-0
                            i.fa-solid.fa-gear
                .row 
                    h1#main__heading.text-center.user-select-none Rock Paper Scissors
                .row.text-center  
                    button#play__button.btn.btn-secondary.w-25.fs-3.mt-5.mx-auto.rounded-pill  play !
            .container 
                .row 
                    include includes/components/_scoreBoard
                .row 
                    section#user_choice_options.col-12.mt-5.d-flex.justify-content-center.align-items-center
                        ul
                            li
                                button#rock__icon.bg-transparent.fs-1 
                                    i.fa-solid.fa-hand-back-fist
                            li
                                button#paper__icon.bg-transparent.fs-1
                                    i.fa-solid.fa-hand
                            li
                                button#scissors__icon.bg-transparent.fs-1
                                    i.fa-solid.fa-hand-scissors
                        section#hands.text-center
                            #user-hand.hand
                                .fist
                                .finger.finger-1.scissorsFingers
                                .finger.finger-2.scissorsFingers
                                .finger.finger-3
                                .finger.finger-4
                                .thumb
                                .arm
                            #computer-hand.hand
                                .fist
                                .finger.finger-1
                                .finger.finger-2
                                .finger.finger-3
                                .finger.finger-4
                                .thumb
                                .arm
                            //- #icons
                            //-     div
                            //-     label(for='rock-rock') ✊
                            //-     label(for='paper-rock') ✊
                            //-     label(for='scissors-rock') ✊
                            //-     div
                            //-     label(for='rock-paper') 🖐️
                            //-     label(for='paper-paper') 🖐️
                            //-     label(for='scissors-paper') 🖐️
                            //-     div
                            //-     label(for='rock-scissors') ✌
                            //-     label(for='paper-scissors') ✌
                            //-     label(for='scissors-scissors') ✌

    include includes/_scripts
