doctype html
html(lang="en").light
    include includes/_head
    include includes/_body
        .container-fluid
            i#moving_scissors.fa-solid.fa-scissors.position-absolute.fs-1
            .container#settings_page
                include includes/components/_settings
            .container#intro_page.animate__animated
                .row
                    .setting__btn_wrapper 
                        button#game__setting_button.fs-2.bg-transparent.border-0
                            i.fa-solid.fa-gear
                .row 
                    h1#main__heading.text-center.user-select-none.pt-5 Rock Paper Scissors
                .row.text-center  
                    button#play__button.btn.btn-secondary.w-25.fs-3.mt-5.mx-auto.rounded-pill  play !
            .container#game_page.mt-5
                #game_wrapper(hidden).position-absolute.w-100.h-100.top-0.start-0.animate__animated.mt-5
                    .row 
                        section#game__widgets.col-12.mt-5.text-center
                            button(disabled)#refresh_game.bg-transparent.border-0.fs-2.me-1 
                                i.fa-solid.fa-arrow-rotate-left
                            button(disabled)#home_widget.border-0.bg-transparent.fs-2.ms-1
                                i.fa-solid.fa-house
                    .row 
                        include includes/components/_scoreBoard
                    .row 
                        include includes/components/_playGround
            .container 
                .row 
                    include includes/components/_gameSetsWindow
    include includes/_scripts
