doctype html
html(lang="en").light
    include includes/_head
    include includes/_body
        .container-fluid
            i#moving_scissors.fa-solid.fa-scissors.position-absolute.fs-1
            .container(hidden) 
                include includes/components/_settings
            .container 
                .row
                    .setting__btn_wrapper 
                        button#game__setting_button.fs-2.bg-transparent.border-0
                            i.fa-solid.fa-gear
                .row 
                    h1#main__heading.text-center.user-select-none Rock Paper Scissors
                .row.text-center  
                    button#play__button.btn.btn-secondary.w-25.fs-3.mt-5.mx-auto.rounded-pill  play !
                
    include includes/_scripts
    //- .text-uppercase.fs-3.w-25.btn.btn-secondary.mx-auto.mt-5.rounded-pill
