.dark {
}
.light {
  body {
    background-color: #f5f5f5;
  }

  #main__heading {
    color: #404040;
  }
  #game__setting_button {
    color: #404040;
  }
  #settings {
    background-color: #555555;
    color: #f5f5f5;
    > #setting__close_btn {
      color: #f5f5f5;
      &:hover{
        color: #ccc;
      }
    }
  }
  #scoreboard{
    h3,th,td{
      color: #404040;
    }
  }
  #computer__name{
    color: #404040;
  }
  #player__name{
    color: #404040;
  }
  #user_choice_options{
    button{
      color: #404040;
    }
  }
}
