@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
.light body {
  background-color: #f5f5f5;
}
.light #main__heading {
  color: #404040;
}
.light #game__setting_button {
  color: #404040;
}
.light #settings {
  background-color: #555555;
  color: #f5f5f5;
}
.light #settings > #setting__close_btn {
  color: #f5f5f5;
}
.light #settings > #setting__close_btn:hover {
  color: #ccc;
}
.light #scoreboard h3,
.light #scoreboard th,
.light #scoreboard td {
  color: #404040;
}
.light #computer__name {
  color: #404040;
}
.light #player__name {
  color: #404040;
}
.light #user_choice_options button {
  color: #404040;
}
.light #game_sets_window {
  background-color: #555555;
  color: #f5f5f5;
  letter-spacing: 1.5px;
}
.light #game_sets_window #game_sets_header > button {
  color: #f5f5f5;
}
.light #game_sets_window #game_sets_header > button:hover {
  color: #ccc;
}

* {
  font-family: "Mouse Memoirs", sans-serif;
}

body {
  overflow-x: hidden;
}

@-webkit-keyframes move {
  100% {
    offset-distance: 100%;
  }
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes handShake {
  0%, 100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
@keyframes handShake {
  0%, 100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
@-webkit-keyframes handShake2 {
  0%, 100% {
    transform: rotateY(180deg) rotate(10deg);
  }
  50% {
    transform: rotateY(180deg) rotate(-10deg);
  }
}
@keyframes handShake2 {
  0%, 100% {
    transform: rotateY(180deg) rotate(10deg);
  }
  50% {
    transform: rotateY(180deg) rotate(-10deg);
  }
}
.hand {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
  transform: rotate(10deg);
  display: inline-block;
  -webkit-animation: handShake 2s infinite;
          animation: handShake 2s infinite;
}

.hand > div {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid black;
  background: #808080;
  transition: all 0.1s;
}

.fist {
  height: 110px;
  left: 40px;
  top: 50px;
  width: 90px;
  border-radius: 20px 0 0 20px;
}

.finger {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  left: 80px;
  transform-origin: 0 50%;
}

.finger-1 {
  top: 50px;
  --dif: 0px;
}

.finger-2 {
  top: 78px;
  left: 84px;
  --dif: 4px;
}

.finger-3 {
  top: 106px;
  --dif: 0px;
}

.finger-4 {
  top: 134px;
  height: 26px;
  left: 76px;
  --dif: -8px;
}

div.thumb {
  width: 35px;
  height: 70px;
  border-radius: 0 20px 20px 20px;
  top: 50px;
  left: 80px;
  border-left: 0 solid;
  box-shadow: -17px 6px 0 -15px black;
}

div.arm {
  width: 22px;
  height: 70px;
  left: 20px;
  top: 70px;
  border: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#computer-hand {
  transform: rotateY(180deg);
  -webkit-animation: handShake2 2s infinite;
          animation: handShake2 2s infinite;
  position: relative;
}

#main__heading {
  font-size: 8rem;
}

#play__button {
  font-size: 2rem;
  letter-spacing: 2.8px;
  box-shadow: 1px 2.9px 16px rgba(108, 117, 125, 0.4);
  transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
}
#play__button:hover {
  box-shadow: 3px 4.9px 16px rgba(108, 117, 125, 0.6);
  letter-spacing: 5px;
}

#game__setting_button {
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

#settings {
  z-index: 100;
  left: -500px;
}
#settings #setting__close_btn {
  transition: all 0.5s;
}
#settings #settings__user__gender > label {
  display: block;
  width: 100px;
  height: 100px;
}
#settings #settings__user_info > input {
  outline: 0;
}

#moving_scissors {
  top: 0%;
  left: 0%;
  offset-path: path("M768,52.037c.307,137.744,242.124,232.635,242.124,232.635s165.293-30.61,235.7,21.427,70.4,263.244,70.4,263.244l-110.2,116.317H156.11s-18.366,24.488-27.549,0S-6.122,541.794-6.122,541.794");
  offset-distance: 0;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation: move 7s linear 1 forwards;
          animation: move 7s linear 1 forwards;
}

#players #scoreboard {
  border-radius: 5px;
  width: 50%;
  border: 3px solid #606060;
}
#players #scoreboard > h3 {
  padding: 10px;
  border-bottom: 3px solid #606060;
}
#players #scoreboard > table {
  margin: 10px auto;
  width: 100%;
  border-collapse: collapse;
}
#players .player__avatar > img {
  width: 200px;
  height: 200px;
}
#players #computer__player #computer__player__avatar {
  padding-top: 2.5rem;
}
#players #computer__player #computer__player__avatar > img {
  width: 150px;
  height: 150px;
}
#user_choice_options > ul {
  list-style: none;
}
#user_choice_options > ul > li {
  margin: 10px;
}
#user_choice_options > ul > li > button {
  width: 65px;
  height: 65px;
  cursor: pointer;
  border: 2px solid #909090;
  border-radius: 3px;
  transition: all 0.5s;
}
#user_choice_options > ul > li > button:hover {
  border-color: #404040;
}
#user_choice_options #scissors__icon {
  transform: rotateY(-180deg);
}

#game_sets_page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
#game_sets_page #game_sets_window #game_sets_header > button {
  transition: all 0.5s;
}
#game_sets_page #game_sets_window #game_sets_list {
  list-style: none;
}
#game_sets_page #game_sets_window #game_sets_list > li .gameSetsButton {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border-top: 3px solid peru;
  cursor: pointer;
  transition: all 1s;
}
#game_sets_page #game_sets_window #game_sets_list > li .gameSetsButton:hover {
  transform: rotate(360deg);
}/*# sourceMappingURL=style.css.map */