.row.text-center.mt-5
    footer.user-select-none#copyright Made with 
        span.text-warning ❤ 
        | by 
        a.text-secondary.text-decoration-none(href='https://github.com/Silent-Watcher' target='_blank') silentWatcher
        time 2022
        |  ©