#game_sets_page(hidden)
    section#game_sets_window.col-6.p-3.rounded.d-flex.flex-column.fs-4.animate__animated
        #game_sets_header
            button.goToIntroBtn.border-0.bg-transparent
                i.fa-solid.fa-house
            p#game_sets_title.text-center.user-select-none How many sets do you want to play ? 🤔
        ul#game_sets_list.d-flex.justify-content-around.align-items-center
            li
                button.gameSetsButton 3
            li
                button.gameSetsButton 5
            li
                button.gameSetsButton 10