section#user_choice_options.col-12.mt-5.d-flex.justify-content-center.align-items-center
    ul
        li
            button(data-value ='rock')#rock__icon.choice__icon.bg-transparent.fs-1 
                i.fa-solid.fa-hand-back-fist
        li
            button(data-value ='paper')#paper__icon.choice__icon.bg-transparent.fs-1
                i.fa-solid.fa-hand
        li
            button(data-value ='scissors')#scissors__icon.choice__icon.bg-transparent.fs-1
                i.fa-solid.fa-hand-scissors
    section#hands.text-center
        #user-hand.hand
            .fist
            .finger.finger-1
            .finger.finger-2
            .finger.finger-3
            .finger.finger-4
            .thumb
            .arm
        #computer-hand.hand
            .fist
            .finger.finger-1
            .finger.finger-2
            .finger.finger-3
            .finger.finger-4
            .thumb
            .arm