section#players.col-12.d-flex.justify-content-around.align-items-center
    section#main__player.d-flex.justify-content-around.align-items-center.flex-column
        figure#main__player__avatar.player__avatar    
            img(src="assets/img/male_avatar.png", alt="").img-fluid
        h2#player__name.user-select-none silentWatcher
    section#scoreboard 
        h3.text-center.fs-1.user-select-none ScoreBoard
        table
            tbody
                tr
                td#humanScore.text-center.fs-1 0
                td#computerScore.text-center.fs-1 0
            tfoot
                tr
                th.text-center.fs-5.user-select-none You
                th.text-center.fs-5.user-select-none Bot
    section#computer__player.d-flex.justify-content-around.align-items-center.flex-column
        figure#computer__player__avatar.player__avatar    
            img(src="assets/img/computer_avatar.png", alt="").img-fluid
        h2#computer__name.user-select-none Robot